.menu{
  display: flex;
  flex-direction: column;
}


.cabecalho{
  background-color: red;
  width: 100%;
  height: 80px;
}


.categorias{
  background-color: #F26530;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;


  ul{
    font-family: "Inria Sans",sans-serif;
    color: white;
    display: flex;
    list-style: none;
    align-items: center;
    padding-inline-start: 0;
    width: 100%;

    li{
      text-align: center;
      text-transform: uppercase;
      width: 16%;
      font-size: 36px;
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;

      img{
        width: 60px;
        height: 55px;
      }
    }
  }
}
