<div class="menu">
  <div class="cabecalho">
  </div>
  <div class="categorias">
    <ul>
      <li><img src="chicken.svg" alt="ícone de frango"/>Aves</li>
      <li><img src="fish.svg" alt="ícone de peixe"/>Peixes</li>
      <li><img src="salt.svg" alt="ícone de saleiro"/>Salgados</li>
      <li><img src="meat.svg" alt="ícone de carne"/>Carnes</li>
      <li><img src="cookie.svg" alt="ícone de um biscoite"/>Sobremesas</li>
      <li><img src="cake.svg" alt="ícone de bolo"/>Bolo</li>
    </ul>
  </div>
</div>
